<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/style.css">
        <link rel="shortcut icon" href="#">
        <style>
            .column {
                float: left;
                width: 50%;
            }
    
            .row:after {
                content: "";
                display: table;
                clear: both;
            }
        </style>
</head>
<body>
    
    <div class="topnav">
        <a href="/">HOME</a>
        <a href="/recipe_finder">RECIPE FINDER</a>
        <a href="/food_sharing">FOOD SHARING</a>
        <a class="active" href="/resources">RESOURCES</a>
      </div>
    
    <div style="padding-left:16px">
        <h2><i><p style="color:#B86A6A; font-weight: lighter">Resources</i></p></h2>
        <h1><p style="color:#9A2A2A; font-weight: bolder">All resources, one place</p></h1>
        <p> Curious about local food pantries, charitable organizations, and other resources that support students facing food insecurity? Check out the compilation below!</p>

        <div class="row">
            <div class="column">
            <h2 style="color:#9A2A2A; font-weight: bold">Dining Center Resources</h2>
            <ul>
                <li><p><a href="https://dash.swarthmore.edu/menu/dining-center">Dining Center Upcoming Menu</a></p></li>
                <li><p><a href="https://netnutrition.cbord.com/nn-prod/Swarthmore">Swat NetNutrition</a></p></li>
                <li><p><a href="https://docs.google.com/forms/d/e/1FAIpQLSewG_UgchbjaPfKPKK4ezV1B_ggXawDJ8lqnw_oxes16ViiCA/viewform">Dining
                    Center Feedback Form</a></p></li>
                <li><p><a href="https://www.swarthmore.edu/sustainability/zero-waste">Swarthmore Food Recovery Fridge</a></p></li>
            </ul>
            <p>&nbsp;</p>
            <h2 style="color:#9A2A2A; font-weight: bold">FLI Food Pantry Resources</h2>
            <ul>
                <li><p><a href="https://www.instagram.com/swat.flicouncil/">FLI Council Instagram</a></p></li>
                <li><p><a href="https://sites.sccs.swarthmore.edu/swatfli/our-initiatives/">FLI Website</a></p></li>
            </ul>
            <p>&nbsp;</p>
        </div>
        <div class="column">
            <h2 style="color:#9A2A2A; font-weight: bold">Local Food Banks and Charities</h2>
            <ul>
                <li><p><a href="https://www.sharefoodprogram.org/find-food/">List of Delco Food Pantries</a></p></li>
                <li><p><a href="https://www.lifewerks.org/food-pantry">Lifewerks Food Pantry</a> (Wallingford, PA)</p></li>
                <li><p><a href="https://www.philabundance.org/">Philabundance</a> (Philadelphia, PA)</p></li>
                <li><p><a href="https://www.sharefoodprogram.org/">Share Food Program</a> (Philadelphia, PA)</p></li>
            </ul>
            <p>&nbsp;</p>
            <h2 style="color:#9A2A2A; font-weight: bold">Dealing with Food Insecurity</h2>
            <ul>
                <li><p class="ex1"> <span style="text-decoration: underline;"></span><a href="https://www.pa.gov/agencies/pda/food/food-assistance/food-security-in-pennsylvania/food-resources-for-pennsylvanians.html">PA State Resources</a></p></li>
            </ul>
            <p>&nbsp;</p>
            </div>
        </div>
    </div>

    <div class="footer">
        <p>&copy; 2025 SwatEats.</p>
    </div>

</body>
</html>